
body {
    padding: 10px;
    margin: 20px;
    background-color: cornflowerblue;
}


h1 {
    text-align: center;
    color: black;
    font-family: fantasy;
}

h5 {
    background-color: lightgrey;
    width: 150px;
    border: 5px solid rgb(65, 199, 177);
    padding: 20px;
    margin: 5px;
    float: right;
}

p {
    float: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: large;
    font-weight: 500;
    padding: 5px;
    display: inline-flex;
}

#time-count {
    /* float: right !important; */
    color: blueviolet;
    
}

#count-down {
    /* float: right !important; */
    counter-reset: 120;
}

#scores-btn {
    color: blue;
    border-color: blue;
    cursor: pointer;
}

.container {
    width: 400px;
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
    box-shadow:0 0 10px 2px;
    
}

.btn-grid {
    display: grid;
    gap: 10px;
    margin: 20px 0;
}

.btn {
    border: 1 px solid black;
    background-color:#0d6efd;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn.correct {
    background-color: green;
}

.btn.wrong {
    background-color: darkred;
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    padding: 5px 10px;
}

.hide {
    display: none; 
}
